{% extends 'todo/base.html' %}
{% load static %}
{% block content %}
    <h1>Todo List</h1>

    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" name="title" class="form-control" placeholder="Task title" aria-label="Task title" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Criar</button>
            </div>
        </div>
    </form>
    <br>

    {% for task in tasks %}
    {% if task.is_completed == True %}
    <h1 class="text-success">Done</h1>
    {% elif task.is_completed == False %}
    <h1 class="text-danger">To do</h1>
    {% endif %}
    <h1>{{ task.title }}</h1>

    <div class="form_buttons">
        <form action="{% url 'delete' task.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger delete__button">Deletar</button>
        </form>
        <form action="{% url 'update' task.id %}" method="GET">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary update__button">Alterar</button>
        </form>
    </div>
    <br>
    {% endfor %}
{% endblock %}
