{% extends 'todo/base.html' %}
{% load static %}
{% block content %}
    <h1>Todo List</h1>

    <h1>Atualizar task</h1>
    <form action="{% url 'update' task.id %}" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Title</span>
            </div>
            <input type="text" name="new_title" class="form-control" value="{{ task.title }}" aria-label="Title" aria-describedby="basic-addon1">
        </div>
        <div class="__checkbox">
            <div class="completed">
                <input name="is_completed" type="checkbox" class="form-check-input" {% if task.is_completed == True %} checked {% endif %}>
                <span>Completed</span>
            </div>
            
            <button type="submit" class="btn btn-secondary">Alterar</button>
        </div>
    </form>
{% endblock %}
